/* Menu lateral */
.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 300;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid white;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  display: none;
  font-size: 16px;
}

#sideMenu {
  position: fixed;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  border-radius: 12px;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.3);
  max-width: 250px;
  backdrop-filter: blur(5px);
  transform: translateX(-110%);
  transition: transform 0.3s ease;
  z-index: 300;
  max-height: 90vh;
  overflow-y: auto;
  overscroll-behavior: contain;
}

#sideMenu.active {
  transform: translateX(0);
}

#sideMenu::-webkit-scrollbar {
  width: 5px;
}

#sideMenu::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

#sideMenu::-webkit-scrollbar-thumb {
  background: var(--cor-primaria);
  border-radius: 10px;
}

.close-menu {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 16px;
  color: white;
  z-index: 10;
  padding: 8px;
  transition: all 0.3s ease;
}

.close-menu:hover {
  background: rgba(255, 255, 255, 0.1);
}

.effects-section {
  margin-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;
}

.effects-section label {
  display: block;
  margin: 8px 0;
  font-size: 10px;
  cursor: pointer !important;
}

/* Checkbox personalizado */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 3px;
  outline: none;
  transition: all 0.3s;
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer !important;
}

input[type="checkbox"]:checked {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

input[type="checkbox"]:checked::after {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 10px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}